<%= @articles.each do |article| %>
<%= link_to article.title, article %>
<p>Created at
  <%= article.created_at.strftime('%b %d, %Y') %>
  <% truncate(article.content, length: 200) %>
</p>
  <% end %>